@keyframes wave {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes btn-active {
  0% {
    box-shadow: 0 0 0 0 rgba(166, 203, 252, 1);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(166, 203, 252, 0);
  }
}

.cm-btn-wave {
  position: absolute;
  animation: 0.8s wave;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  pointer-events: none;
}

.cm-btn {
  position: relative;
  height: 32px;
  padding: 0 18px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: all 0.15s;
  min-width: max-content;
  overflow: hidden;
  box-sizing: border-box;
  &.cm-btn-active {
    background: rgba(59, 130, 217, 0.9);
    border: 1px solid rgba(59, 130, 217, 1);
  }
}
[animation-key=true] {
  animation: 0.8s btn-active;
}
.cm-btn-default {
  background: white;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 0 0 0 0px rgb(166, 203, 252);
  &:hover {
    border: 1px solid rgb(166, 203, 252);  
  }
  // &.[animation-key=true] {
    // border: 1px solid #ccc;
    // box-shadow: 0 0 0 3px rgb(166, 203, 252);
  // }
  .cm-btn-wave {
    background: rgba(116, 174, 240, 0.3);
  }
}
.cm-btn-primary {
  background: rgb(41, 123, 231);
  color: white;
  border: 1px solid rgb(41, 123, 231);
  &:hover {
    border: 1px solid rgb(11, 66, 138);
  }
  .cm-btn-wave {
    background: rgba(190, 221, 255, 0.3);
  }
}
.cm-btn-success {
  background: #67C23A;
  color: white;
  border: 1px solid #67C23A;
  &:hover {
    border: 1px solid #67AB3A;
  }
  .cm-btn-wave {
    // background: rgba(225, 255, 229, 0.3);
    background: rgba(190, 255, 221, 0.3);
  }
}
